
setuptools~=60.10.0
pip~=22.2.2
wheel~=0.37.1
Pillow~=9.1.0
Jinja2~=3.1.2
MarkupSafe~=2.1.1
Werkzeug~=2.2.2
click~=8.1.3
itsdangerous~=2.1.2
packaging~=21.3
pyparsing~=3.0.9
zipp~=3.9.0
mariadb~=1.0.11
Flask~=2.2.2
PyRECONSTRUCT~=2.2.0
mysqlclient>=1.4.6
regex~=2022.9.13
lean~=1.0.120
Flask-Navigation~=0.2.0